.messageWrapper {
  padding: 5px 10px;
}

.message {
  text-align: left;
  margin-bottom: 30px;
  height: 70px;
}

.sender {
  text-align: right;
  margin-left: 7px;
  margin-bottom: 10px;
  height: 70px;
}

.recieve {
  display: flex;
}

.send {
  border: none;
}

.couterpart {
  margin-bottom: 0;
}

.text {
  margin-left: 5px;
  margin-bottom: 0;
}

.createdAt {
  font-size: 11px;
  margin-left: 2px;
}
